{#

 This file is part of the merkNotificationBundle package.

 (c) Tim Nagel <tim@nagel.com.au>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>